@use 'variables' as v;

h1 {
  font-family: v.$merriweather;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: v.$merriweather;
  font-weight: 700;
  font-size: 1.5rem;
}

h3,
label {
  font-family: v.$merriweather;
  font-weight: 400;
  font-size: 1.5rem;
}

.subtext {
  font-family: v.$roboto;
  font-weight: 300;
  font-size: 1.7rem;
  &::after {
    content: '\a';
    white-space: pre;
  }
}

a,
button {
  font-family: v.$roboto;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
}

p {
  font-family: v.$roboto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.footer-content {
  font-family: v.$roboto;
  font-weight: 400;
  font-size: 1.125rem;
}
ul {
  list-style: none;
}
