@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

$merriweather: 'Merriweather', serif;
$roboto: 'Roboto', sans-serif;

$white: #fffdfa;
$black: #002224;
$brown: #c28d75;
$offwhite: #fdf2ed;
$teal: #3ebbb7;
