@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h3,
label {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}
.subtext::after {
  content: "\a";
  white-space: pre;
}

a,
button,
span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.footer-content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (min-width: 0px) {
  header {
    color: #fffdfa;
    height: 300px;
    text-align: center;
    padding-top: 100px;
  }
  header .hero-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  header::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;
    background-color: #002224;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.35;
  }
  header nav {
    display: block;
    background-color: #3ebbb7;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    max-width: 60%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: width 700ms ease-in-out;
  }
  header nav #menu-close,
header nav ul {
    margin-right: 10%;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: 300ms ease-in-out 200ms;
  }
  header nav #menu-close {
    margin-bottom: 25%;
    margin-top: 10%;
  }
  header nav ul {
    text-align: right;
  }
  header nav li {
    margin-bottom: 10px;
  }
  header nav li::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 4px;
    left: 50;
    background-color: #fffdfa;
    transition: width 300ms ease-in-out;
  }
  header nav li:hover::after {
    width: 25%;
  }
  header nav a {
    color: #fffdfa;
  }
  header .nav-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  header .nav-btn img {
    width: 30px;
  }
  header #menu-open {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header .cta {
    color: #fffdfa;
    background-color: #3ebbb7;
    padding: 8px 16px;
    display: inline-block;
    margin: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  header .cta:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  section {
    padding: 5%;
  }
  section .container {
    text-align: center;
    margin-top: 7%;
  }
  #toolkit {
    background-color: #fffdfa;
  }
  #toolkit ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #toolkit li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #fdf2ed;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #toolkit li span {
    color: #3ebbb7;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  #toolkit li img {
    opacity: 1;
    position: absolute;
    transition: opacity 200ms ease-in-out;
  }
  #toolkit li:hover span {
    opacity: 1;
  }
  #toolkit li:hover img {
    opacity: 0;
  }
  #projects {
    background-color: #fdf2ed;
  }
  #projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #projects .card {
    background-color: #fffdfa;
    padding: 5%;
    border-radius: 10px;
    max-width: 1000px;
  }
  #projects .card h3 {
    color: #3ebbb7;
  }
  #projects .card img {
    width: 100%;
    height: auto;
  }
  #projects .card ul {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  #projects .card ul li {
    font-family: "Roboto", sans-serif;
    background-color: #3ebbb7;
    color: #fffdfa;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 5px;
  }
  #projects .card .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 1rem;
  }
  #projects .card .live {
    color: #fffdfa;
    background-color: #3ebbb7;
    padding: 8px 16px;
    display: inline-block;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  #projects .card .live:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #projects .card .code {
    color: #3ebbb7;
    background-color: #fffdfa;
    border: 2px solid #3ebbb7;
    padding: 8px 16px;
    display: inline-block;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  #projects .card .code:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #about {
    background-color: #fffdfa;
  }
  #about img {
    display: none;
  }
  #about p:last-of-type {
    margin-top: 2%;
  }
  #contact {
    background-color: #fdf2ed;
  }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7%;
  }
  #contact form input,
#contact form textarea {
    margin-block: 1% 5%;
    border: 2px solid #c28d75;
    font-size: 1.125rem;
    font-family: "Roboto", sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fffdfa;
    color: #002224;
  }
  #contact form input:focus,
#contact form textarea:focus {
    border: none;
    outline: 5px solid #3ebbb7;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #contact form input:hover,
#contact form textarea:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #contact form textarea {
    width: 100%;
  }
  #contact form .g-recaptcha {
    display: inline-block;
    margin-bottom: 5%;
  }
  #contact form button {
    border: none;
    background-color: #3ebbb7;
    padding: 8px 16px;
    appearance: none;
    color: #fffdfa;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  #contact form button:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #contact ul {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  #contact li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #fffdfa;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #contact li span {
    color: #3ebbb7;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  #contact li img {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 200ms ease-in-out;
  }
  #contact li:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  #contact li:hover span {
    opacity: 1;
  }
  #contact li:hover img {
    opacity: 0;
  }
  footer {
    padding: 5%;
    text-align: center;
    background-color: #3ebbb7;
    color: #fffdfa;
  }
}
@media all and (min-width: 423px) {
  #contact form .wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #contact form .g-recaptcha {
    margin-bottom: 0;
  }
  #contact form button {
    height: 40px;
  }
}
@media all and (min-width: 768px) {
  header {
    text-align: left;
    padding-top: 150px;
    height: 400px;
    padding-inline: 5%;
  }
  header .hero-img {
    height: 400px;
  }
  header::before {
    height: 400px;
  }
  header h1 {
    font-size: 3rem;
  }
  header .subtext {
    font-size: 2rem;
  }
  header nav {
    max-width: 30%;
  }
  #toolkit li {
    height: 90px;
    width: 90px;
  }
  #toolkit img {
    width: 50px;
  }
  #contact form {
    width: 100%;
  }
  #contact form input {
    width: 75%;
  }
}
@media all and (min-width: 1024px) {
  a,
button,
p,
.footer-content {
    font-size: 1.25rem;
  }
  h2,
h3,
label {
    font-size: 1.75rem;
  }
  header {
    height: 700px;
    max-height: 700px;
    padding-top: 0px;
  }
  header .hero-img {
    height: 700px;
  }
  header::before {
    height: 700px;
  }
  header .nav-btn {
    display: none;
  }
  header nav {
    position: relative;
    display: flex;
    padding-block: 3% 200px;
    width: 100% !important;
    max-width: 100%;
    background: none;
    box-shadow: none;
    height: auto;
  }
  header nav ul {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    pointer-events: auto !important;
    user-select: text !important;
    opacity: 1 !important;
    margin: 0;
  }
  header nav li {
    display: inline-block;
    margin-left: 10%;
  }
  header nav li:hover::after {
    width: 40px;
  }
  header nav a {
    color: #fffdfa;
  }
  header .cta {
    padding: 10px 20px;
  }
  #about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  #about img {
    display: block;
    margin-right: 5%;
    width: 40%;
  }
  #about p {
    text-align: left;
  }
  #contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact form {
    margin-bottom: 0;
  }
  #contact form input {
    width: 50%;
  }
  #contact form textarea {
    margin-bottom: 3%;
  }
  #contact form button {
    padding: 10px 20px;
  }
  #contact ul {
    margin: 4% 10%;
    flex-direction: column;
    justify-content: space-between;
  }
  #contact li {
    width: 130px;
    height: 130px;
    margin-block: 10%;
  }
  #contact img {
    width: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
