@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$grad-1: #64B9FA;
$grad-2: #D67BE4;
$text: #2A2933;
$important-text: #7672E9;
$light-mid: #F4E9FC;
$dark-mid: #4C4A87;
$head-font: 'Playfair Display', serif;
$body-font: 'Open Sans', sans-serif;

@mixin basicLink($color: $text) {
    text-decoration: none;
    color: $color;
}

*{
    box-sizing: border-box;
}
header {
    background-image: linear-gradient(90deg, $grad-1 0%, $grad-2 100%);
    h1 {
        font-family: $head-font;
        padding: 1% 0;
        color: white;
    }
}

nav{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
        width: 75%;
        li{
            display: inline-block;
            width: 32%;
            margin: 7% 0 0 0;
            padding: 0 1%;
        }
        a {
            display: block;
            font: {
                family: $body-font;
                size: 1.125em;
            }
            text-align: center;
            @include basicLink($color: white);
        }
        a:link {
            @include basicLink($color: white);
            
        }
        a:visited {
            @include basicLink($color: white);
        }
        a:hover {
            @include basicLink($color: white);
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 768px) {
        ul{
            float: none;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        text-align: center;
    }
}
main {
    padding:3%;
    background-color: white;
    min-height: 100vh;
    p{
        color: $text;
        font:  {
            family: $body-font;
            size: 1.1em;
        }
    }
    a {
        @include basicLink($color: $important-text);
    }
    a:link {
        @include basicLink($color: $important-text);
        
    }
    a:visited {
        @include basicLink($color: $important-text);
    }
    a:hover {
        @include basicLink($color: $important-text);
    }
    h3{
        color: $important-text;
        font:  {
            family: $body-font;
            size: 1.5em;
            weight: 700;
        }
    }
}
@media only screen and (max-width: 768px) {
    main{
        text-align: center;
    }
}
#right{
    text-align: center;
}

footer{
    background-color: $important-text;
    color: white;
    text-align: center;
    padding-top: 1%;
    height: 5%;
    font: {
        family: $body-font;
        size: 1em;
    }
}