@import "./variables.css";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3,
p,
a,
span {
  font-family: var(--font);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  font-variant: small-caps;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  font-variant: small-caps;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p,
a,
span {
  font-size: 1rem;
}

a {
  font-weight: 500;
  text-decoration: none;
}
