@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background-primary: #faf8ed;
  --background-secondary: #e7e5d2;
  --foreground-primary: #141101;
  --foreground-secondary: #2a1a01;
  --accent: #ceb214;

  --font: "Figtree", sans-serif;

  --color-scheme: light;
}

[data-theme="dark"] {
  --background-primary: #141101;
  --background-secondary: #2a1a01;
  --foreground-primary: #faf8ed;
  --foreground-secondary: #e7e5d2;
  --accent: #f0d959;

  --font: "Figtree", sans-serif;

  --color-scheme: light;
}
