---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class='tags'>{tags.map((tag) => <span>{tag}</span>)}</div>

<style>
  .tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;

    span {
      background-color: var(--background-accent);
      border: 1px solid var(--foreground-primary);
      padding: 4px 6px;
      border-radius: 100px;
    }
  }
</style>
