---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

const projects = await getCollection('projects');
---

<BaseLayout title='Projects'>
  <h1>Projects</h1>
  <ProjectCard project={projects[0]} />
</BaseLayout>
