---
import Navigation from '../components/Navigation.astro';
import Slider from '../components/Slider.astro';
---

<header>
  <Navigation />
  <Slider
    buttonJs='toggle-theme'
    sliderJs='theme-slider'
  />
</header>

<main>
  <slot />
</main>
<footer><p>Katelyn Grimoldby © 2025</p></footer>

<style>
  @media screen and (min-width: 0px) {
    header,
    footer {
      padding: 1rem;
      background-color: var(--background-secondary);
      color: var(--foreground-primary);
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    main {
      min-height: 100%;
      padding: 1rem;
      background-color: var(--background-primary);
      color: var(--foreground-primary);
    }

    footer {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    header,
    footer,
    main {
      padding-inline: 6rem;
    }
  }
</style>

<script>
  const btn = document.querySelector('[data-js="toggle-theme"]');
  const slider = document.querySelector('[data-js="theme-slider"]');
  const body = document.querySelector('body');

  btn?.addEventListener('click', () => {
    const currTheme = body?.getAttribute('data-theme');
    if (btn)
      btn.className =
        btn.className == 'theme-default' ? 'theme-altered' : 'theme-default';
    if (slider)
      slider.className =
        slider.className == 'slider-default'
          ? 'slider-altered'
          : 'slider-default';
    body?.setAttribute('data-theme', currTheme == 'dark' ? 'light' : 'dark');
  });
</script>
